{% extends 'layouts/base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <section class="section hero is-link is-fullheight-with-navbar">
        <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">
                Task List
            </h1>
            <h2 class="subtitle">
                Managing tasks to do...
            </h2>
                <a href="/home/" class="button is-light is-medium">Go todo</a>
        </div>
        </div>
    </section>
{% endblock %}
